html {
    background: linear-gradient(to bottom, #275b5d, #000000) no-repeat;
    font-family: 'Libre Barcode 39', system-ui;
    min-height: 100%;
}

body {
}

.wrapper {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    margin-top: 230px;
}
@media only screen and (max-width: 600px) {
    .wrapper {
        margin-top: 30px;
        font-size: 70%;
    }
    .wrapper .line {
        width: 250px;
        margin-bottom: -3px;
    }
    .wrapper .icon {
        height: 50px;
    }
    .wrapper .subtitle {
        font-size: 130%;
    }

}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.subtitle {
    font-family: "Mohave", sans-serif;
    text-align: center;
}

.title {
    font-family: 'Libre Barcode 39 Text', system-ui;
    font-size: 800%;
    margin-bottom: 10px;
    text-align: center;
}

.line {
    width: 329px;
    height: 2px;
    left: 556px;
    top: 527px;
    background: #D9D9D9;

}

.iconsWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.icon {
    height: 60px;
    padding: 10px 0 0 10px;
}